{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать на наш сайт!</h1>
<p>Это главная страница нашего сайта. Здесь вы найдете полезную информацию и последние новости.</p>

<h2>Наши Услуги</h2>
<p>Мы предлагаем широкий спектр услуг, включая веб-разработку, мобильные приложения, дизайн и маркетинг. Наша команда состоит из опытных специалистов, готовых воплотить ваши идеи в жизнь.</p>

<h2>Последние Новости</h2>
<ul>
    <li>Запуск нового проекта по разработке мобильного приложения - 1 июня 2024</li>
    <li>Успешное завершение курса по цифровому маркетингу - 15 мая 2024</li>
    <li>Партнерство с ведущей IT-компанией для реализации инновационных решений - 30 апреля 2024</li>
</ul>
{% endblock %}
